@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Roboto", sans-serif; 
}

table, tr {
    border: 1px solid #cbd5e1;
}

thead {
    position: sticky;
    top: -1px;
    z-index: 1;
}

th {
    background-color: #f8fafc;
}

td, th {
    padding: 5px;
}

/* Estilos para a barra de rolagem personalizada */
::-webkit-scrollbar {
@apply w-2 h-2 rounded
}

::-webkit-scrollbar-thumb {
@apply bg-indigo-400 rounded
}

  
